# <font color='DarkSlateBlue'>Intro Data Analysis</font> 

## <font color='NavyBlue'>Titanic Data</font>

### <font color='DarkSlateBlue'> Eu, mulher, 33 anos na 2º classe sobreviveria?</font>

![alt text](titanic2.jpg "titanic")

In [1]:
#importando as bibliotecas
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb
import pandas as pd
import numpy as np

In [2]:
#predict
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [3]:
filename = 'C:/Nanodegree/Intro_Data_Analys/titanic_data.csv'
titanic_df = pd.read_csv(filename, header=0)

In [ ]:
titanic_df.head()

### Sumário estatístico
Aplicada aos valores númericos

- count: Total de elementos não nulos
- mean: Média
- std: Desvio Padrão
- min: Maior valor da amostra
- max: Menor valor da amostra
- 25%: Quartil 1, corresponde a 25% da amostra
- 50%: Quartil 2 ou mediana da amostra
- 75%: Quartil 3, corresponde a % da amostra

In [ ]:
titanic_df.describe().fillna(0)

## Data Wrangler
Pontos focais:
- Idade
- Sexo
- Acompanhantes: SibSp + Parch
- Classe

Descrição dos campos:
- Embarked: Porto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)
- Parch: Número de pais e filhos a bordo
- Pclass: Classe que o passageiro embarcou (1 = 1º classe; 2 = 2º classe; 3 = 3º classe)
- Sex: Gênero feminino (female) ou male (masculino)
- Sibsp: Numero de irmãos e esposa a bordo
- Survived: 0 - Não sobreviveu e 1 = sobreviveu

In [ ]:
#Conferindo o tipo dos dados criados
titanic_df.dtypes

In [17]:
#Criando uma nova coluna com o total de acompanhantes
titanic_df['Family'] = titanic_df['SibSp'] + titanic_df['Parch']

In [21]:
#influencia da classe na sobrevivencia
titanic_df.groupby(['Pclass', 'Sex', 'Survived']).mean()

                     PassengerId        Age     SibSp     Parch        Fare  \
Pclass Sex Survived
1      0   0          325.000000  25.666667  0.666667  1.333333  110.604167
           1          473.967033  34.939024  0.549451  0.428571  105.978159
       1   0          413.623377  44.581967  0.272727  0.259740   62.894910
           1          527.777778  36.248000  0.377778  0.311111   74.637320
2      0   0          423.500000  36.000000  0.500000  0.166667   18.250000
           1          444.785714  28.080882  0.485714  0.642857   22.288989
       1   0          454.010989  33.369048  0.307692  0.142857   19.488965
           1          415.588235  16.022000  0.529412  0.647059   21.095100
3      0   0          440.375000  23.818182  1.291667  1.097222   19.773093
           1          359.083333  19.329787  0.500000  0.500000   12.464526
       1   0          456.750000  27.255814  0.523333  0.213333   12.204469
           1          447.638298  22.274211  0.340426  0.297872   15.579696

                       Family
Pclass Sex Survived
1      0   0         2.000000
           1         0.978022
       1   0         0.532468
           1         0.688889
2      0   0         0.666667
           1         1.128571
       1   0         0.450549
           1         1.176471
3      0   0         2.388889
           1         1.000000
       1   0         0.736667
           1         0.638298

In [ ]:
#Como a coluna Sex está em formato texto o valor retornado não é significativo, 
#portanto vou atribuir valor de 0 -female e 1 - Male

#Uma vez que o total de SEX é igual ao total de registros, posso testar o conteúdo de todos os valores
titanic_df['Sex_temp'] = titanic_df.Sex == "male"

#Transformando o False em 0 e o True em 1
titanic_df['Sex'] = titanic_df['Sex_temp'].as_matrix().astype(np.int)
#Apaga a coluna temporaria sex
titanic_df.drop('Sex_temp', axis=1, inplace=True)

#uma outra possibilidade:
#pd.get_dummies(titanic_df, columns='Sex'), drop_first=True)

In [15]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanic_df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_conv
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0

In [ ]:
#Existem idades em branco. É possível predizer a idade pelo preço do ticket? 
#Utilizando um valor aleatorio presente na tabela será verificado se é seguro associar as variaveis preço ticket e idade 
#titanic_df[titanic_df.Fare == 7.75]

Como não está clara a relação, será atribuida a média da coluna Age para os valores NA.

In [ ]:
titanic_df.Age = titanic_df.Age.fillna(titanic_df.Age.mean())

### Age -  Visualizando os dados

In [ ]:
# specifies the parameters of our graphs
fig = plt.figure(figsize=(18,6), dpi=1600) 
alpha=alpha_scatterplot = 0.2 
alpha_bar_chart = 0.55

# lets us plot many diffrent shaped graphs together 
ax1 = plt.subplot(2,2,1)
titanic_df.Age.hist(bins=10)
plt.xlabel("Age")
plt.title("Histrogram Age, (bin=10)")    

ax2 = plt.subplot(2,2,2)
titanic_df['Age'].plot(kind='kde', style='k--')
# sets the y axis lable
plt.ylabel("Density")
plt.xlabel("Age")
plt.title("Density - Age")

ax3 = plt.subplot(2,2,(3,4))
# plots a kernel density estimate of the subset of the 1st class passangers's age
titanic_df.Age[titanic_df.Pclass == 1].plot(kind='kde')    
titanic_df.Age[titanic_df.Pclass == 2].plot(kind='kde')
titanic_df.Age[titanic_df.Pclass == 3].plot(kind='kde')
 # plots an axis lable
plt.xlabel("Age")    
plt.title("Distribution Age/classes")
# sets our legend for our graph.
plt.legend(('1 Classe', '2 Classe','3 Classe'),loc='best')

In [ ]:
def perc_nulo_coluna(nomecol,base, data, perc):
    perc_null = (float(format(sum(data[nomecol].isnull()), '.2f'))/float(format(data[base].count(), '.2f')))*100
    if perc_null > perc:
        return data.drop(nomecol, 1)

perc_nulo_coluna('Cabin', 'PassengerId',titanic_df,50)

In [ ]:
# specifies the parameters of our graphs
fig = plt.figure(figsize=(18,6), dpi=1600) 
#alpha=alpha_scatterplot = 0.2 
#alpha_bar_chart = 0.55

# lets us plot many diffrent shaped graphs together 
ax1 = plt.subplot(2,2,1)
titanic_df.Age.hist(bins=10)
plt.xlabel("Age")
plt.title("Histrogram Age, (bin=10)")    

ax2 = plt.subplot(2,2,2)
titanic_df['Age'].plot(kind='kde', style='k--')
# sets the y axis lable
plt.ylabel("Density")
plt.xlabel("Age")
plt.title("Density - Age")

ax3 = plt.subplot(2,2,(3,4))
# plots a kernel density estimate of the subset of the 1st class passangers's age
titanic_df.Age[titanic_df.Pclass == 1].plot(kind='kde')    
titanic_df.Age[titanic_df.Pclass == 2].plot(kind='kde')
titanic_df.Age[titanic_df.Pclass == 3].plot(kind='kde')
 # plots an axis lable
plt.xlabel("Age")    
plt.title("Distribution Age/classes")
# sets our legend for our graph.
plt.legend(('1 Classe', '2 Classe','3 Classe'),loc='best')

#Grafico mostrando as mulheres e homens mortos/sobreviventes por idade
## Questões a serem respondidas
- Estar acompanhado diminuiu a chance de sobreviver? 
- A classe, dependendo talvez por sua localização, teve relação com a chance de sobreviver?

In [ ]:
mean_fare = titanic_df.groupby(['Pclass']).mean()['Fare']
mean_fare

In [ ]:
titanic_df.Age.apply(mean_fare)

In [ ]:
titanic_df.corr(method='pearson', min_periods=1)

In [ ]:
# Set the seed
np.random.seed(12)

# Initialize label encoder
label_encoder = preprocessing.LabelEncoder()

# Convert some variables to numeric
titanic_df["Sex"] = label_encoder.fit_transform(titanic_df["Sex"])
titanic_df["Embarked"] = label_encoder.fit_transform(titanic_df["Embarked"])

# Initialize the model
rf_model = RandomForestClassifier(n_estimators=1000, # Number of trees
                                  max_features=2,    # Num features considered
                                  oob_score=True)    # Use OOB scoring*

features = ["Sex","Pclass","SibSp","Embarked","Age","Fare"]

# Train the model
rf_model.fit(X=titanic_df[features],
             y=titanic_df["Survived"])

print("OOB accuracy: ")
print(rf_model.oob_score_)